
img/projects/.DS_Store
img/projects/personal/.DS_Store
img/projects/personal/goit/.DS_Store
img/projects/personal/pro-test/.DS_Store
img/projects/personal/wedding/.DS_Store
img/projects/team/questify/.DS_Store
